body {
	margin: 0;
	padding: 0;
}

.logo_accueil {
	display: block;
	margin: 0 auto;
	padding-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 500px;
	height: 100px;
}
.logo {
	width: 100%;
}

.boutons_menu.boutons_menu.boutons_menu.boutons_menu.boutons_menu {
	display: inline-block;
}

.bandeau_slogan {
	background-size: cover;
	background-image: url(../../bandeau.svg);
	height: 560px;
	margin-top: -15px;
}

.titre_slogan{
	text-align: center;
	padding-top: 9%;
	font-size: 30px;
	font-family: Open Sans;
}

.bandeau_cta {
	text-align: center;
	background-color: rgba(149, 198, 213, 222);
	height: 40%;
}

.boutons.boutons.boutons.boutons {
	margin-top: 2%;
}

.bandeau_description {
	background-color: white;
}

.titre_description {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}

.bandeau_footer {
	margin-top: 40px;
}

.logo_footer {
	margin-bottom: 5px;
}

.liste_footer {
	margin-bottom: 10px;
}

.fouteur.fouteur.fouteur.fouteur.fouteur {
	margin-bottom: 0;
}

.titre_boutons {
	font-size: 30px;
	font-family: Open Sans;
	padding-top: 40px;
}
/* Page driver */ 

.formulaire {
	width : 700px;
	margin: 0 auto;
}

.bloc_annonces.bloc_annonces.bloc_annonces.bloc_annonces.bloc_annonces {
	margin: 40px;
}

li{
	margin:10px;
	font-size: 1.2em;
	font-family: Roboto;
	font-weight: 500;	
}